doctype html
html
  head
    title Error - Brain In Gaming
  body
    .container
      h1 Error: #{message || 'Something went wrong'}
      p We are sorry, but something went wrong.
      if error.status === 404
        p Page not found.
