// app_server/views/history.jade
extends layout

block content
  h1 Game Analysis History

  .history-container
    each analysis in analyses
      .history-item
        h2 Timestamp: #{analysis.timestamp}
        p Emotional States: #{JSON.stringify(analysis.emotionalStates)}
