extends layout

block content
    header
        .navbar
            .menu-container
                h1 Brain in Gaming
                .menu-icon
                    span
                    span
                    span
                .dropdown-menu
                    a(href='/profile') Profile
                    a(href='/history') History
                    a(href='/about') About
                    a(href='/home') Home
                    a(href='/auth/logout') Logout

    .main-container
        .hero-section
            h1 Welcome to Brain in Gaming, #{user ? user.name : 'Guest'}!
            h1 The World of Mind-Controlled Gaming!
            p Unlock the potential of your mind and dive into a new era of gaming with Brain in Gaming. Explore games and play with your thoughts.

        .cta-box
            h2 Choose Your Adventure
            .cta-options-box
                .cta-buttons
                    a(href='/games/mindmaze', class='game-box', style='background-image: url(/images/mindmaze.jpg);')
                        .overlay
                            h3 Mind Maze
                            button.btn.btn-primary Play Mind Maze
                    a(href='/games/neurodash', class='game-box', style='background-image: url(/images/neurodash.jpg);')
                        .overlay
                            h3 Neuro Dash
                            button.btn.btn-secondary Play Neuro Dash
                    a(href='/games/brainbeats', class='game-box', style='background-image: url(/images/brainbeats.jpg);')
                        .overlay
                            h3 Brain Beats
                            button.btn.btn-primary Play Brain Beats
                    a(href='/games/cerebralcrossing', class='game-box', style='background-image: url(/images/cerebralcrossing.jpg);')
                        .overlay
                            h3 Cerebral Crossing
                            button.btn.btn-secondary Play Cerebral Crossing

    footer
        .footer-container
            .footer-feature
                h4 Brain-Powered Gaming
                p Experience gaming like never before by controlling the game with your mind.
            .footer-feature
                h4 Cutting-Edge AI Integration
                p Harness AI to improve your gameplay and enhance your gaming experience.
            .footer-feature
                h4 Real-Time Performance Analytics
                p Receive insights into your gaming skills and track your improvements.

        p &copy; 2025 Brain in Gaming || AI Department || Anurag University || All Rights Reserved.

    // JavaScript to handle the menu toggle
    script.
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.menu-icon').addEventListener('click', function () {
                this.classList.toggle('active');
                document.querySelector('.dropdown-menu').classList.toggle('show');
            });
        });
