extends layout

block content
    header
        .navbar
            .menu-container
                h1 Brain in Gaming
    
    .main-container
        .hero-section
            h1 Ready to Control Games with Your Mind?
            p Discover the power of brain-controlled gaming with Brain in Gaming. Log in or register to start!
        
        .cta-box
            h2 Choose Your Path
            .auth-box
                  a(href='/login', class='btn btn-primary') Login
                  a(href='/register', class='btn btn-primary') Register
        
    footer
    .footer-container
        .footer-feature
            h4 Brain-Powered Gaming
            p Experience the future of gaming where your brain takes the lead.
        .footer-feature
            h4 Advanced AI Integration
            p Harness the power of AI to create unique gaming experiences.
        .footer-feature
            h4 Real-Time Analytics
            p Track your performance and improve your gameplay with real-time data.

    p &copy; 2025 Brain in Gaming || AI Department || Anurag University || All Rights Reserved.
