extends layout

block content
  header
    .navbar
      .menu-container
        h1 Brain in Gaming
  
  .main-container
    .hero-section
      h1 Ready to Control Games with Your Mind?
      p Enter your username and password to start your brain-controlled gaming adventure. If you don't have an account, register now!
    
    .login-box
      h2 Login to Your Account
      form(action='/login', method='POST')
        .form-container
          .form-group
            label(for='username') Username:
            input(type='text', name='username', required, placeholder='Enter your username')

          .form-group
            label(for='password') Password:
            input(type='password', name='password', id='password', required, placeholder='Enter your password')
            label
              input(type='checkbox', id='show-password') Show Password
            
          button(type='submit', class='btn btn-primary') Login
      
      p If you don't have an account, 
        a(href='/register') Register here

  footer
    .footer-container
      .footer-feature
        h4 Brain-Controlled Gaming Experience
        p Push the boundaries of gaming with the power of your mind.
      .footer-feature
        h4 Cutting-Edge AI Technology
        p Experience next-level AI integration that enhances your gameplay.
      .footer-feature
        h4 Instant Feedback & Insights
        p Get real-time performance analysis to help you improve your gaming skills.

  p &copy; 2025 Brain in Gaming || AI Department || Anurag University || All Rights Reserved.

  // Place your script at the end of the body
  script.
    document.getElementById('show-password').addEventListener('change', function() {
      var passwordField = document.getElementById('password');
      if (this.checked) {
        passwordField.type = 'text';  // Show password
      } else {
        passwordField.type = 'password';  // Hide password
      }
    });
