extends layout

block content
  header
    .navbar
      .menu-container
        h1 Brain in Gaming
        .menu-icon
          span
          span
          span
        .dropdown-menu
          a(href='/profile') Profile
          a(href='/history') History
          a(href='/about') About
          a(href='/home') Home
          a(href='/auth/logout') Logout

  .main-container
    .hero-section
      h1 Your Profile

    .profile-section
      .profile-box
        h2 Personal Information
        .profile-info
          p Name: 
            span #{user.name}
          p Username: 
            span #{user.username}
          p Email: 
            span #{user.email}
        a(href='/editprofile', class='btn btn-secondary') Edit Profile

      .profile-box
        h2 Brain Activity Stats
        .stats-info
          p Games Played: 
            span 50
          p Average Brain Activity Score: 
            span 75
          p High Score: 
            span 120

  footer
    .footer-container
      .footer-feature
        h4 Brain-Controlled Gaming Experience
        p Push the boundaries of gaming with the power of your mind.
      .footer-feature
        h4 Cutting-Edge AI Technology
        p Experience next-level AI integration that enhances your gameplay.
      .footer-feature
        h4 Instant Feedback & Insights
        p Get real-time performance analysis to help you improve your gaming skills.
      .footer-feature
        h4 Immersive Analytics
        p Dive deep into detailed reports on brain activity, focus levels, and game performance.
      .footer-feature
        h4 Personalized Gaming Profiles
        p Tailor your experience with customized profiles that adapt to your unique gaming style.

    p &copy; 2025 Brain in Gaming || AI Department || Anurag University || All Rights Reserved.

  // JavaScript to handle the menu toggle
  script.
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelector('.menu-icon').addEventListener('click', function () {
        this.classList.toggle('active');
        document.querySelector('.dropdown-menu').classList.toggle('show');
      });
    });
